<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanika Jain">
    <meta name="keywords" content="Duquesne Incline, Pittsburgh">
    <meta name="description" content="Duquesne Incline Official Website">
    <title>About Page</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="index.html"><img src="static/duquesnetextlogo.png" alt="Duquesne Incline, est. 1877" width="260" height="120"></a></h1>
            <nav>
                <ul>
                    <li class="has-dropdown">
                        <a href="about.html">ABOUT</a>
                        <span class="dropdown-toggle"></span>
                        <ul class="dropdown">
                            <li><a href="./history.html">History</a></li>
                            <li><a href="./faq.html">FAQs</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="./visit.html">VISIT</a>
                        <span class="dropdown-toggle"></span>
                        <ul class="dropdown">
                            <li><a href="./hoursandfares.html">Hours and Fares</a></li>
                            <li><a href="./toursandgroups.html">Tours/Group Bookings</a></li>
                            <li><a href="./giftshop.html">Gift Shop</a></li>
                        </ul>
                    </li>
                    <li><a href="./attractions.html">ATTRACTIONS</a></li>
                    <li><a href="./getinvolved.html">GET INVOLVED</a></li>
                    <li><a href="./media.html">MEDIA</a></li>
                    <li><a href="./search.html">SEARCH</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>